.directory {
    .item {
        width: 50%;
        height: 100%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}